# 1. setting

### read csv

In [7]:
import numpy as np
import pandas as pd
import sys

table = pd.read_csv('cleanse.csv')
table.head(3)

   Property ID  CreatedDate   Latitude   Longitude
0      4881689       201412  37.538801  127.004746
1     18095433       201704  33.518760  126.888090
2     12210733       201604  33.514708  126.860203




### data sketch

In [25]:
table.CreatedDate.describe()
table.CreatedDate.isnull().sum()

0

---
# 2. data cleansing

### select data according to CreatedDate

In [36]:
ab_2010_2h = table.loc[(table['CreatedDate']<= 201012) & (table['CreatedDate']>= 201006)]

ab_2011_1h = table.loc[(table['CreatedDate']<= 201106) & (table['CreatedDate']>= 201101)] 
ab_2011_2h = table.loc[(table['CreatedDate']<= 201112) & (table['CreatedDate']>= 201106)]

ab_2012_1h = table.loc[(table['CreatedDate']<= 201206) & (table['CreatedDate']>= 201201)]
ab_2012_2h = table.loc[(table['CreatedDate']<= 201212) & (table['CreatedDate']>= 201206)]

ab_2013_1h = table.loc[(table['CreatedDate']<= 201306) & (table['CreatedDate']>= 201301)]
ab_2013_2h = table.loc[(table['CreatedDate']<= 201312) & (table['CreatedDate']>= 201306)]

ab_2014_1h = table.loc[(table['CreatedDate']<= 201406) & (table['CreatedDate']>= 201401)] 
ab_2014_2h = table.loc[(table['CreatedDate']<= 201412) & (table['CreatedDate']>= 201406)]

ab_2015_1h = table.loc[(table['CreatedDate']<= 201506) & (table['CreatedDate']>= 201501)]
ab_2015_2h = table.loc[(table['CreatedDate']<= 201512) & (table['CreatedDate']>= 201506)]

ab_2016_1h = table.loc[(table['CreatedDate']<= 201606) & (table['CreatedDate']>= 201601)]
ab_2016_2h = table.loc[(table['CreatedDate']<= 201612) & (table['CreatedDate']>= 201606)]

ab_2017_1h = table.loc[(table['CreatedDate']<= 201706) & (table['CreatedDate']>= 201701)]
ab_2017_2h = table.loc[(table['CreatedDate']<= 201712) & (table['CreatedDate']>= 201706)]

ab_2018_1h = table.loc[(table['CreatedDate']<= 201806) & (table['CreatedDate']>= 201801)]

       Property ID  CreatedDate   Latitude   Longitude
6961         81855       201103  37.575486  126.990547
16384        81858       201103  37.577231  126.991428
16385        81860       201103  37.577029  126.990747
16386        73595       201102  37.351491  127.059809
16387        82728       201103  37.576173  126.991711
16388        91152       201104  37.581336  126.813653
16389       116599       201105  37.571402  126.927789
16390       117906       201105  37.575781  126.996836
16393       143226       201106  37.575365  126.997950
18110       113730       201105  37.552871  126.935466
27570       128530       201105  37.500925  127.041589
35746       117239       201105  37.581761  126.981197
35949       126573       201105  37.553467  126.970627
36397       108008       201105  37.582392  126.979308
37719       154329       201106  37.581909  126.987421
39459       154342       201106  37.580588  126.986215
39727        86016       201103  37.555285  126.927201
40042       133664       201106  37.532517  126.994173
40226       110026       201105  37.581479  126.980775
40237       119523       201105  37.583176  126.981446
49596       118591       201105  37.577566  126.996916
52907       133833       201106  37.527932  126.961565
71201        74542       201102  37.484363  128.320045
75863        69022       201101  37.513766  127.061034

### half-yearly statistics (지역 분리는 Mapping이후에 하겠습니다.)

---
# 3. Mapping

### mapping with "folium"

In [20]:
import folium

map_osm = folium.Map(location=[37.538801, 127.004746], tiles='Mapbox Bright')
folium.CircleMarker([37.538801,127.004746],radius=1,color='#3186cc',fill_color='#3186cc').add_to(map_osm)
map_osm